
:root{

    --bg:#0F172A;
    --card:#1E293B;
    --popup:#1E293B;

    --text:#FFFFFF;
    --text2:#CBD5E1;

    --accent:#3B82F6;
    --accent-hover:#2563EB;

    --input:#334155;

    --clock:#60A5FA;

    --border:#334155;

}


.dark-theme{

    --bg:#0F172A;
    --card:#1E293B;
      --header:#000;
    --bottom-nav:rgba(5, 5, 5, 0.296);
    --bottom-nav-btn:rgb(250, 246, 244);
    --bottom-nav-btn-hover:rgb(19, 137, 255);


    --search-box:#1E293B;
    --search-box-text:#fff;
    --search-box-input:#070707;

    --task-card:#1E293B;
   

   
}
